Consultar datos
Conéctate nuevamente a escuela.db y crea un cursor.
Recupera todos los registros de la tabla estudiantes usando una consulta SELECT *.
Imprime los resultados en pantalla.
Realiza una segunda consulta que seleccione únicamente los estudiantes cuya edad sea mayor de 20 años, mostrando solo sus nombres y notas.

In [1]:
# Importamos las librerias necesarias
import sqlite3

# Conectamos a la base de datos (o la creamos si no existe)
conn = sqlite3.connect('escuela.db')

# Creamos un cursor para ejecutar comandos SQL
cursor = conn.cursor()

# Recuperamos todos los registros de la tabla estudiantes
cursor.execute("SELECT * FROM estudiantes")
estudiantes = cursor.fetchall()

# Imprimimos los registros recuperados
for estudiante in estudiantes:
    print(estudiante)
    
# Cerramos la conexion a la base de datos
conn.close()

(1, 'Ana', 20, 8.5)
(2, 'Luis', 22, 9.0)
(3, 'Marta', 21, 7.5)